.wrapper {
      padding: 16px;
      width: 100vw;
      height: 100vh;
      font-family: 'Roboto', sans-serif;
      background-image: linear-gradient(grey, black);
      overflow-x: hidden;
}

h2 {
      margin-top: 0;
      font-weight: bold;
}

/* HEADER */
.back-btn {
      background: rgba(0, 0, 0, .3);
      border-radius: 15px;
      filter: drop-shadow(4px 3px 4px rgba(0, 0, 0, .2));
      -webkit-filter: drop-shadow(4px 3px 4px rgba(0, 0, 0, .2));
}

.back-btn:hover {
      background: rgba(0, 0, 0, .2);
}

.back-btn>span {
      font-size: 8px;
      padding: 0;
      color: white;
}

.back-btn>img {
      width: 34px;
      height: auto;
}

.btn-link {
      color: #aaa;
      font-size: 75%;
}

.btn-link:hover {
      color: #ccc;
}

table>tbody>tr>td {
      padding: 1px 0;
      color: white;
}


.dropdown-container {
      margin: 0 auto;
}

#create-wo {
      position: relative;
      width: 220px;
      text-align: center;
      padding: 5px 15px;
}



.dropdown-toggle {
      position: relative;
      width: 100%;
      /* height: 100%; */
      padding: 0 !important;
      padding-left: 10px;
      text-transform: capitalize;
}

a {
      text-decoration: none !important;
}

.dropdown-submenu {
      position: relative;
}

li.dropdown-submenu {
      list-style-type: none !important;
}

.dropdown-submenu>.dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -6px;
      margin-left: -1px;
      -webkit-border-radius: 0 6px 6px 6px;
      -moz-border-radius: 0 6px 6px;
      border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
      display: block;
}

.wo>a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: #ccc;
      margin-top: 5px;
      margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
      border-left-color: #fff;
}


.label {
      margin: 0px 4px;
}

.display-row {
      margin: 5px 0px;
      min-height: 16%;
      margin-left: 18px;
      width: 100%;
}

.display-box {
      height: 42px;
      padding: 2px 4px;
}

.display-content {
      color: #333;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 3px;
      height: 36px;
      margin: 0px 6px;
      text-align: center;
}

/* INPUT CARD */
.input-card {
      z-index: 3;
      border-radius: 30% 20% 20% 30% / 35% 25% 25% 35%;
      filter: drop-shadow(4px 3px 4px rgba(0, 0, 0, .3));
      -webkit-filter: drop-shadow(4px 3px 4px rgba(0, 0, 0, .3));
      padding: 48px 0px 18px 48px;
      height: 85vh;
      background-image: radial-gradient(at right, #0069c7 0%, #003f7a 100%);
}


.small-dropdowns {
      height: 36px;
      margin: 0px 6px;
      padding: 0px;
}

.blank {
      display: none;
}

.white {
      background-color: white;
}

.add {}

.refresh {}

.addRes {
      right: 16px;
}

.delete {
      height: 15px;
      padding: 5px 6px;
      font-size: .6em;
      text-align: center;
      color: white !important;
}

.displayText {
      font-size: .6em;
      height: 100%;
}


.resSelection {
      background: none !important;
      color: inherit;
      border: none;
      padding: 3px 20px;
      font: inherit;
}

.plyoDropdown {
      background: none !important;
      color: inherit;
      border: none;
      padding: 3px 20px;
      font: inherit;
}

.saqDropdown {
      background: none !important;
      color: inherit;
      border: none;
      padding: 3px 20px;
      font: inherit;
}

.coreDropdown {
      background: none !important;
      color: inherit;
      border: none;
      padding: 3px 20px;
      font: inherit;
}

.notes {
      margin-top: 60px;
}

/* RESULT CARD*/
.result-card {
      z-index: 2;
      left: -2vw;
      overflow-y: scroll;
      border-radius: 55% / 20%;
      filter: drop-shadow(4px 3px 4px rgba(0, 0, 0, .3));
      -webkit-filter: drop-shadow(4px 3px 4px rgba(0, 0, 0, .3));
      padding: 72px 48px 18px 64px;
      height: 85vh;
      background-image: radial-gradient(circle at left, #0069c7 0%, #003f7a 100%);

}

::-webkit-scrollbar {
      width: 0px;
      background: transparent;
      /* make scrollbar transparent */
}

.warm-up-result>table {
      background: #d9534f;
      color: white;
}

.cool-down-result>table {
      background: #5bc0de;
      color: white;
}

.table {
      font-size: 1.2rem;
      margin-bottom: 5px;
}

thead tr th {
      text-align: center;
      color: white;
}

tbody tr td {
      font-size: .9rem;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
      padding: 4px;
}

/* MOBILE */
@media (max-width: 412px) {
      h2 {
            font-size: 1.5em;
      }

      .back-btn>img {
            width: 18px;
            height: auto;
      }

      .action-area {
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
      }

      .result-card {
            order: 1;
            border-radius: 15%;
            padding: 24px 42px;
            height: 80vh;
            margin-top: 2vh;
      }

      .footerDrawer {
            position: fixed;
            bottom: 0;
            order: 2;
            z-index: 4;
      }

      .drawer-tab {
            order: 3;
            border-radius: 100% 100% 0% 0%;
            width: 25vw;
            height: 18px;
            padding: 0;
            left: 37.5vw;
            position: relative;
      }

      .input-card {
            order: 4;
            z-index: 1;
            border-radius: 0;
            padding: 12px;
            width: 100vw;
            top: 0;
            display: none;
            height: 40vh;
      }

      .input-card-column {
            padding: 0;
            height: 100%;
      }

      .input-card-column>div {
            height: 33.3%;
      }

      .display-row {
            margin: 0;
      }


      #resistance-dropdown {
            height: 80%;
      }

      .btn-warning .btn-success {
            height: 85%;
            width: auto;
      }

      th {
            font-size: .8em;
      }

      .input-btn {
            white-space: normal;
            width: 51%;
            margin: 2%;
      }

      .btn {
            font-size: 8.5px;
      }

      .label {
            font-weight: 100;
            font-size: 60%;
            left: -12px;
            position: relative;
      }

      .small-dropdowns,
      .display-content {
            margin: 0;
      }

      .add,
      .refresh {
            padding: 0;
            height: 25px;
            width: 25px;
            margin: 4% 1px;
      }

      .notes {
            margin-top: 0;
      }

      #create-wo-m,
      #exp-m {
            width: 80%;
      }
}